@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat:ital,wght@0,400;0,700;1,200&display=swap");

body {
  background-color: rgb(3, 1, 22);
  color: antiquewhite;
}

.imgCodice {
  height: 70%;
  width: 100%;
  margin-top: 20px;
}

.imgIo {
  height: 280px;
  border-top: 1.5px solid white;
  border-left: 1.5px solid white;
}

.nome {
  font-family: "Black Ops One", cursive;
  font-family: "Montserrat", sans-serif;
}
